
# object:
*.o
gpu/*.o

# execution file:
main
gpu/main*

# weight weight
*.pb
c/*.bin
pytorch/module/

# test data
pytorch/traindata

# python cache
pytorch/__pycache__/

# script file
script/

# gpu simulate file
gpu/_app_*
gpu/_cuobjdump_*
gpu/config_*
gpu/gpgpgu*
gpu/gpuwattch*
